<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Ciências Aplicadas</title>
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="initial-scale=1.0 maximum-scale=1.0 user-scalable=no">

    <!-- stylesheets::vendor -->
    <%= params[:debug].present? ? stylesheet_link_tag("/assets@admin/bower_components/bootstrap/dist/css/bootstrap.min.css") :
        wicked_pdf_stylesheet_link_tag("/assets@admin/bower_components/bootstrap/dist/css/bootstrap.min.css") -%>

    <!-- stylesheets::main -->
    <%= params[:debug].present? ? stylesheet_link_tag("/assets@admin/styles/main.css") :
        wicked_pdf_stylesheet_link_tag("/assets@admin/styles/main.css") -%>
</head>
<body id="pdf">
    <%= yield %>
</body>
</html>
