<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Ciências Aplicadas</title>
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="initial-scale=1.0 maximum-scale=1.0 user-scalable=no">
    <!-- meta tags -->
    <meta name="author" content="DZ3 Design e Tecnologia">
    <meta name="description" content="">
    <meta name="keywords" content="ciências, aplicadas, ciencias, aplicadas, site, website, natal, rio, grande, do, norte">
    <!-- facebook tags -->
    <meta property="og:image" content="http://placehold.it/120x120">
    <meta property="og:title" content="Ciências Aplicadas">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Ciências Aplicadas">
    <meta property="og:type" content="website">
    <!-- twitter tags -->
    <meta name="twitter:card" content="">
    <meta name="twitter:image" content="http://placehold.it/120x120">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">

    <!-- scripts -->
    <script src="/assets/bower_components/modernizr/modernizr.js"></script>

    <!-- stylesheets::vendor -->
    <link href="/assets/vendor/theme/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/theme/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- plugins -->
    <link href="/assets/vendor/theme/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/assets/vendor/theme/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="/assets/vendor/theme/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/assets/vendor/theme/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/assets/vendor/theme/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="/assets/vendor/theme/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <!-- theme -->
    <link href="/assets/vendor/theme/css/animate.css" rel="stylesheet">
    <link href="/assets/vendor/theme/css/style.css" rel="stylesheet">

    <!-- stylesheets::main -->
    <link href="/assets/styles/main.css" rel="stylesheet">

    <!-- script::jquery -->
    <script src="/assets/vendor/theme/js/jquery-2.1.1.js"></script>
    <script src="/assets/vendor/theme/js/plugins/chartJs/Chart.min.js"></script>

    <!-- csrf -->
    <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrapper">
        <%= yield %>
    </div>

    <script src="/assets/vendor/theme/js/bootstrap.min.js"></script>
    <script src="/assets/vendor/chosen/chosen.jquery.min.js"></script>

    <!-- scripts::rails -->
    <%= javascript_include_tag 'application' %>

    <!-- scripts::plugins -->
    <script src="/assets/vendor/theme/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/assets/vendor/theme/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="/assets/vendor/theme/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="/assets/vendor/theme/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/assets/vendor/theme/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="/assets/vendor/theme/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="/assets/vendor/theme/js/plugins/iCheck/icheck.min.js"></script>
    <script src="/assets/vendor/theme/js/plugins/jsKnob/jquery.knob.js"></script>
    <script src="/assets/vendor/theme/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/assets/vendor/theme/js/plugins/morris/morris.js"></script>
    <script src="/assets/vendor/theme/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/assets/vendor/theme/js/plugins/pace/pace.min.js"></script>
    <script src="/assets/vendor/theme/js/plugins/peity/jquery.peity.min.js"></script>

    <!-- scripts::custom and plugin -->
    <script src="/assets/vendor/theme/js/inspinia.js"></script>

    <!-- scripts::main -->
    <script src="/assets/scripts/main.min.js"></script>
</body>
</html>
